a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

.section {
  background-color: transparent;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}

.header-links {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-right: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block {
  padding-right: 20px;
  padding-left: 20px;
  font-family: Abel, sans-serif;
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
}

.text-block-2 {
  padding-right: 20px;
  padding-left: 20px;
  font-family: Abel, sans-serif;
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
}

.text-block-3 {
  padding-right: 20px;
  padding-left: 20px;
  font-family: Abel, sans-serif;
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
}

.image {
  position: fixed;
  margin-top: 40px;
  margin-left: 40px;
}

.column-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-text {
  display: block;
  padding-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.text-block-4 {
  display: block;
  overflow: visible;
  margin-right: auto;
  margin-left: auto;
  font-family: Abel, sans-serif;
  font-size: 64px;
  font-weight: 400;
  -o-object-fit: fill;
  object-fit: fill;
}

.txt-hola {
  margin-bottom: 20px;
  font-family: Abel, sans-serif;
  color: #000;
  font-size: 64px;
  line-height: 64px;
}

.txt-subheading {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: 'Roboto Mono', sans-serif;
  color: #757575;
  font-size: 13px;
  -o-object-fit: fill;
  object-fit: fill;
}

.column-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.columns {
  position: relative;
  height: 100%;
}

.container {
  height: 100%;
}

.section-2 {
  height: 100%;
}

.body {
  height: 100px;
}

.div-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 140px;
  padding-bottom: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-section.div-contact {
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-3 {
  margin-right: 40px;
  margin-left: 40px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.text-span {
  color: #000;
}

.text-span-2 {
  color: #000;
}

.text-span-3 {
  color: #000;
}

.txt-title-section {
  font-family: Abel, sans-serif;
  color: #000;
  font-size: 64px;
  line-height: 64px;
}

.div-timeline {
  display: block;
  margin-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.txt-tm {
  margin-top: 0px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 23px;
  white-space: nowrap;
}

.txt-tm.tm2 {
  margin-top: 107px;
  white-space: nowrap;
}

.txt-tm.tm2.tmtext {
  white-space: normal;
}

.txt-tm.tm3 {
  margin-top: 107px;
}

.txt-tm.tm4 {
  margin-top: 103px;
}

.txt-tm.tm5 {
  margin-top: 105px;
}

.txt-tm.tm6 {
  margin-top: 107px;
}

.txt-tm.tm7 {
  margin-top: 105px;
}

.txt-tm.tm8 {
  margin-top: 107px;
}

.txt-tm.tm9 {
  margin-top: 105px;
}

.txt-tm.tmtext {
  color: #686868;
  font-size: 14px;
}

.txt-tm.mb {
  display: none;
}

.text-block-7 {
  font-family: 'Roboto Mono', sans-serif;
  color: #686868;
}

.text-span-4 {
  color: #000;
}

.text-span-5 {
  color: #000;
}

.txt-tm-right {
  font-family: 'Roboto Mono', sans-serif;
  color: #757575;
  font-size: 13px;
}

.txt-tm-right.tm2 {
  margin-top: 105px;
}

.txt-tm-right.tm7 {
  margin-top: 82px;
}

.txt-tm-right.tm8 {
  margin-top: 49px;
}

.txt-tm-right.tm9 {
  margin-top: 65px;
}

.txt-tm-right.tm3 {
  margin-top: 65px;
}

.txt-tm-right.tm4 {
  margin-top: 67px;
}

.txt-tm-right.tm5 {
  margin-top: 66px;
}

.txt-tm-right.tm6 {
  margin-top: 86px;
}

.div-work {
  line-height: 100%;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.txt-work-text {
  margin-left: 20px;
  font-family: 'Roboto Mono', sans-serif;
  color: #757575;
  font-size: 13px;
  line-height: 153%;
  font-weight: 400;
}

.txt-work-text.link {
  margin-top: 20px;
  color: #000;
}

.txt-work-title {
  margin-bottom: 10px;
  margin-left: 20px;
  font-family: Abel, sans-serif;
  color: #000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  padding-right: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-2.audet {
  display: none;
}

.div-contact {
  padding-top: 100px;
}

.div-account {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-8 {
  margin-top: 0px;
  margin-left: 20px;
  font-family: 'Roboto Mono', sans-serif;
  color: #000;
  font-size: 18px;
}

.image-4 {
  margin-left: 1px;
  padding-left: 0px;
}

.div-block {
  max-width: 1000px;
}

.div-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.image-5 {
  margin-right: 10px;
  margin-left: 10px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 75px;
  height: 134px;
}

.text-span-6 {
  color: #000;
}

.text-span-7 {
  color: #000;
}

.text-span-8 {
  color: #000;
}

.text-span-9 {
  color: #000;
}

.text-span-10 {
  color: #000;
}

.text-span-11 {
  color: #000;
}

.text-span-12 {
  color: #000;
}

.text-span-13 {
  color: #000;
}

.text-span-14 {
  color: #000;
}

.text-span-15 {
  color: #000;
}

.text-span-16 {
  color: #000;
}

.text-span-17 {
  color: #000;
}

.text-span-18 {
  color: #000;
}

.link-2 {
  font-size: 13px;
}

.link-3 {
  font-size: 13px;
}

.link-4 {
  font-size: 13px;
}

.link-5 {
  font-size: 13px;
}

.image-6 {
  display: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.submit-button {
  background-color: #000;
  font-family: 'Roboto Mono', sans-serif;
  letter-spacing: 2px;
}

.heading {
  font-family: Abel, sans-serif;
  color: #000;
  letter-spacing: 0px;
}

.text-field {
  font-family: 'Roboto Mono', sans-serif;
}

.heading-2 {
  font-family: Abel, sans-serif;
  color: #000;
}

.div-block-2 {
  font-family: 'Roboto Mono', sans-serif;
  color: #686868;
  font-size: 13px;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-block-9 {
  font-family: Abel, sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 32px;
}

.text-ficha {
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: 'Roboto Mono', sans-serif;
  color: #757575;
  font-size: 11px;
}

.text-ficha.last {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #757575;
}

.title-ficha {
  margin-bottom: 5px;
  font-family: Abel, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 24px;
}

.text-span-19 {
  color: #000;
}

.text-span-20 {
  color: #000;
}

.text-span-21 {
  color: #000;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-cover-project {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-ficha {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.txt-sec-title {
  margin-bottom: 25px;
  font-family: Abel, sans-serif;
  color: #000;
  font-size: 48px;
  line-height: 48px;
}

.txt-sect-subtitle {
  margin-bottom: 4px;
  margin-left: 0px;
  font-family: Abel, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 24px;
}

.txt-sect-subtitle.righ-column {
  margin-left: 25px;
}

.txt-sect-subtitle.righ-column.icon._2 {
  margin-left: 5px;
}

.txt-sect-subtitle.icon {
  margin-left: 8px;
}

.txt-sect-subtitle.notfirst {
  margin-top: 100px;
  margin-bottom: 8px;
}

.txt-sec-text {
  font-family: 'Roboto Mono', sans-serif;
  color: #757575;
  font-size: 13px;
  line-height: 153%;
}

.txt-sec-text.left-column {
  margin-right: 25px;
}

.txt-sec-text.right-column {
  margin-left: 25px;
}

.txt-sec-text.list {
  margin-top: 20px;
  margin-left: 40px;
}

.txt-sec-text.notfirst {
  margin-top: 100px;
}

.txt-sec-text.notfirst._2 {
  margin-top: 40px;
}

.txt-sec-text.not-first {
  margin-top: 40px;
}

.txt-sec-text.cursiva {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  font-style: italic;
}

.txt-sec-text.linktfg {
  margin-top: 20px;
}

.column-6 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-left: -22px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sec-img {
  width: 100%;
  max-width: 600px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -o-object-fit: contain;
  object-fit: contain;
}

.sec-img.notpie {
  margin-bottom: 0px;
}

.sec-img.extra {
  width: auto;
  margin-top: 80px;
}

.sec-img.left {
  margin-right: 10px;
  margin-left: 0px;
}

.sec-img.left._2 {
  margin-left: 0px;
}

.image-8 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.txt-sec-pie {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Roboto Mono', sans-serif;
  color: #686868;
  font-size: 13px;
  text-align: center;
}

.txt-sec-pie.cursiva {
  margin-top: 10px;
}

.txt-sec-pie._1 {
  margin-top: 20px;
}

.div-sec-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-bottom: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-sec-img.cover {
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-sec-img.notfirst {
  margin-top: 80px;
}

.div-sec-img-inside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-ficha-img {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-7 {
  margin-left: 10px;
}

.columns-5 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.text-span-22 {
  color: #000;
}

.text-block-10 {
  font-family: Abel, sans-serif;
  font-size: 40px;
}

.colmns-end-project {
  width: 100%;
}

.link-end {
  font-family: Abel, sans-serif;
  font-size: 20px;
}

.column-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.video {
  margin-top: 20px;
}

.column-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.screen-alone {
  width: 100%;
  max-height: 400px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 60px;
  padding-left: 60px;
  -o-object-fit: contain;
  object-fit: contain;
}

.screen-alone.second {
  margin-top: 60px;
}

.screen-alone._2 {
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -o-object-fit: contain;
  object-fit: contain;
}

.screen-alone.gif {
  border-radius: 20px;
  box-shadow: 0 5px 10px -3px #9b9b9b;
  -o-object-fit: contain;
  object-fit: contain;
}

.image-9 {
  max-height: 400px;
}

.image-10 {
  max-height: 400px;
  -o-object-fit: fill;
  object-fit: fill;
}

.gif {
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px #afafaf;
}

.div-block-8 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-right: 60px;
  padding-left: 60px;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 200px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.image-11 {
  -o-object-fit: contain;
  object-fit: contain;
}

.image-12 {
  -o-object-fit: contain;
  object-fit: contain;
}

.image-13 {
  -o-object-fit: contain;
  object-fit: contain;
}

.sus {
  margin-top: 40px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 991px) {
  .image {
    margin-top: 10px;
    margin-left: 10px;
  }

  .column-center {
    display: block;
    padding-right: 40px;
    padding-left: 40px;
  }

  .column-logo {
    display: block;
    padding-left: 10px;
  }

  .div-block {
    height: 100%;
    padding-right: 40px;
    padding-left: 40px;
  }

  .div-sec-img {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
}

@media screen and (max-width: 767px) {
  .image {
    position: static;
    margin-top: 60px;
    margin-left: 60px;
  }

  .image.project {
    margin-left: 50px;
  }

  .div-cover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .img-profile {
    margin-bottom: 40px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .div-text {
    width: 100%;
    padding-left: 0px;
  }

  .txt-hola {
    width: 100%;
    text-align: center;
  }

  .txt-subheading {
    text-align: center;
  }

  .txt-tm {
    padding-bottom: 10px;
    font-size: 20px;
  }

  .txt-tm.mb {
    display: block;
  }

  .txt-tm.des {
    display: none;
  }

  .txt-tm-right {
    font-size: 14px;
  }

  .column {
    padding-bottom: 20px;
  }

  .txt-work-text {
    margin-left: 0px;
  }

  .txt-work-title {
    margin-left: 0px;
  }

  .div-block {
    padding-right: 20px;
    padding-left: 20px;
  }

  .image-5 {
    margin-left: -26px;
    -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  }

  .column-ficha {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-5 {
    margin-top: 20px;
  }

  .txt-sec-text.right-column {
    margin-left: 0px;
  }

  .div-block-5 {
    margin-top: 100px;
    margin-left: -20px;
  }

  .sec-img {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .sec-img.extra {
    max-width: 400px;
  }

  .screen-alone {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 479px) {
  .image {
    margin-top: 20px;
    margin-left: 20px;
  }

  .image.project {
    margin-top: 20px;
    margin-left: 10px;
  }

  .column-menu {
    display: none;
  }

  .div-cover {
    padding-bottom: 35%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .img-profile {
    position: static;
    display: block;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 50% 100%;
    object-position: 50% 100%;
  }

  .div-text {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .txt-hola {
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 42px;
    line-height: 42px;
    text-align: left;
  }

  .txt-hola.home {
    text-align: center;
  }

  .txt-subheading {
    font-size: 12px;
    text-align: center;
  }

  .column-center {
    display: block;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-section {
    padding-top: 250px;
    padding-bottom: 140px;
  }

  .div-section.div-contact {
    padding-top: 250px;
    padding-bottom: 220px;
  }

  .image-3 {
    -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  }

  .txt-title-section {
    margin-left: 40px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: 42px;
    text-align: left;
  }

  .txt-title-section.work {
    padding-bottom: 20px;
  }

  .div-timeline {
    margin-top: 140px;
  }

  .txt-tm-right {
    font-size: 12px;
  }

  .column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .txt-work-text {
    font-size: 12px;
  }

  .txt-work-text.link {
    margin-top: 30px;
  }

  .txt-work-title {
    font-size: 24px;
  }

  .columns-2 {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-contact {
    padding-top: 40px;
  }

  .text-block-8 {
    font-size: 14px;
  }

  .div-block {
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-5 {
    width: 75px;
    height: 225px;
  }

  .link-2 {
    font-size: 14px;
  }

  .image-6 {
    position: relative;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: block;
    overflow: visible;
    max-width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 50% 100%;
    object-position: 50% 100%;
  }

  .div-cover-project {
    height: auto;
    margin-top: 140px;
    margin-bottom: 140px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .div-cover-project.problem {
    margin-top: 0px;
    padding-top: 250px;
    padding-bottom: 140px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .column-ficha {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-5 {
    margin-top: 20px;
  }

  .txt-sec-title {
    margin-bottom: 25px;
  }

  .txt-sect-subtitle.righ-column {
    margin-top: 100px;
    margin-left: 0px;
  }

  .txt-sect-subtitle.righ-column.icon._2 {
    margin-top: 0px;
  }

  .txt-sec-text.right-column {
    margin-left: 0px;
  }

  .txt-sec-text.cursiva {
    margin-right: 20px;
    margin-left: 20px;
  }

  .div-block-4 {
    margin-left: 0px;
  }

  .div-block-5 {
    margin-top: 100px;
    margin-left: 0px;
  }

  .div-block-6 {
    margin-left: 0px;
  }

  .sec-img {
    margin-left: 0px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .sec-img.extra {
    max-width: 300px;
  }

  .txt-sec-pie.trio {
    margin-bottom: 40px;
  }

  .div-sec-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .img-trio {
    margin-bottom: 20px;
  }

  .hover-line.casemobile {
    margin-bottom: 100px;
  }

  .screen-alone {
    padding-right: 0px;
    padding-left: 0px;
  }

  .gif {
    border-radius: 5px;
  }

  .div-block-8 {
    padding-right: 5px;
    padding-left: 5px;
  }
}

